<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="Layout/admin :: head">
</head>
<body class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="Layout/admin :: header">
		
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside th:replace="Layout/admin :: aside">
		
	</aside>
	<main class="app-content">
	<div class="app-title"   th:replace="Layout/admin :: app_title">
		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
            <div class="tile-body">
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Nombre de Usuario</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Correo</th>
                    <th >Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="users: ${user}">
                    <td th:text="${users.id}"></td>
                    <td th:text="${users.username}"></td>
                    <td th:text="${users.apellidos}"></td>
                    <td th:text="${users.nombres}"></td>
                    <td th:text="${users.correo}"></td>
                    <td><button class="btn btn-outline-info" type="button">Modificar Usuario</button>
                    <button class="btn btn-outline-success" type="button">Dar de baja</button>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
		
		</div>
	</div>
	</main>
	<footer th:replace="Layout/admin :: footer">
	</footer>
</body>
</html>