<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="Layout/admin :: head">
</head>
<body class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="Layout/admin :: header">
		
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside th:replace="Layout/admin :: aside">
		
	</aside>
	<main class="app-content">
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-dashboard"></i> Blank Page
			</h1>
			<p>Start a beautiful journey here</p>
		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
			<li class="breadcrumb-item"><a href="#">Blank Page</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<h1 th:inline="text">Hello
						[[${#httpServletRequest.remoteUser}]]!</h1>
					<h1>
					<a th:href="@{/admin}"> admin</a> | <a th:href="@{/user}">
							user</a>
					</h1>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="Layout/admin :: footer">
	</footer>
</body>
</html>